@import url(http://fonts.googleapis.com/css?family=Crimson+Text);

body { margin: 20px auto; font-family: 'Crimson Text', serif; font-size: 17px; width: 960px; }
p { text-align: justify; }
td, th { padding: 1px 5px; }
td.first, th.first { text-align: left;}
td.last, td.num, th.last, th.num { text-align: right; }
tr { padding: 0; margin: 0;}

a,
a:visited
a:active,
a:hover
{
    color: blue;
    text-decoration: none;
}
input { margin-right: 5px; }
input[type=text] { width: 300px; }

#content { min-height: 500px; }
#graph { margin: 30px; }
#wrapper-venn { margin-right: 20px; }
.warning { color: gray; font-weight: bold; }

#credits { font-size: 70%; text-align: right; margin-top: 30px; }

